nav, .location, .coming-soon, footer{
  background-color:#ebeced;
}

.brand-logo {
  color:#33658a !important;
}

i.material-icons {
  color:#33658a !important;
}

.row {
  margin-bottom:0 !important;
}

#mobile-demo {
  background-color:#33658a;
}

#mobile-demo li a {
  color:white;
  border-bottom:1px solid white;
}

.latest-film {
  background-color:#33658a;
}

footer ul {
  text-align:center;
  margin:0;
}

footer ul li {
  display:inline-block;
  padding:10px;
}